[features]
seeds = false

[programs.localnet]
solana_lottery_program = "5AQqMzcMdRcdvGydG6UGrsL4164VwZHuHiHcHYFWhg7"

[programs.devnet]
solana_lottery_program = "5AQqMzcMdRcdvGydG6UGrsL4164VwZHuHiHcHYFWhg7"

[registry]
url = "https://anchor.projectserum.com"

[provider]
cluster = "localnet"
wallet = "/Users/jack/.config/solana/id.json"

# wait for validator to successfully clone all acounts from devnet
[test]
startup_wait = 15000

[test.validator]
url = "https://dry-polished-bush.solana-devnet.discover.quiknode.pro/ed6aaf728f5cc938afefe738d60b1e43853877f6/"

# metaplex-token-metadata
[[test.validator.clone]]
address = "metaqbxxUerdq28cj1RbAWkYQm3ybzjb6a8bt518x1s"

# metaplex-token-metadata data
[[test.validator.clone]]
address = "PwDiXFxQsGra4sFFTT8r1QWRMd4vfumiWC1jfWNfdYT"

# switchboard program
[[test.validator.clone]]
address = "2TfB33aLaneQb5TNVwyDz3jSZXS6jdW2ARw1Dgf84XCG"

# switchboard program data
[[test.validator.clone]]
address = "J4CArpsbrZqu1axqQ4AnrqREs3jwoyA1M5LMiQQmAzB9"

# switchboard idl
[[test.validator.clone]]
address = "CKwZcshn4XDvhaWVH9EXnk3iu19t6t5xP2Sy2pD6TRDp"

# switchboard program state
[[test.validator.clone]]
address = "BYM81n8HvTJuqZU1PmTVcwZ9G8uoji7FKM6EaPkwphPt"

# switchboard vault
[[test.validator.clone]]
address = "FVLfR6C2ckZhbSwBzZY4CX7YBcddUSge5BNeGQv5eKhy"

# switchboard mint
[[test.validator.clone]]
address = "So11111111111111111111111111111111111111112"

# switchboard token wallet
[[test.validator.clone]]
address = "8Yi5LmE8MD3Fft8bUtgjqRP92Yucz4CritdteaC1Ssiq"

# switchboard queue
[[test.validator.clone]]
address = "6Tv5LmZXDa29DSWuTYLKDrft4ZhGQvuuRQ4fdSisaCyA"

# switchboard queue authority
[[test.validator.clone]]
address = "D5B1iguWRmkrjiNU6zSt1LxwDocFRyzfab38y4JXwed"

# switchboard queue buffer
[[test.validator.clone]]
address = "Ajs7a3ax9CarBGqm5yscYSnnLKy7HU5tx7653af5QJJk"

# switchboard crank
[[test.validator.clone]]
address = "GY76KNAqs4E3qenHgZMXUSdMPvwFWo3CDR8LJ2yZFHZF"

# switchboard crank buffer
[[test.validator.clone]]
address = "EKwEqmg2EsrEkUTF1YZ7vhSBdV9WPCdvwaSWBoD7xzmf"

# switchboard oracle
[[test.validator.clone]]
address = "76wosLZH5zmBYx26nkUScm1bi92J67a5BgMByxzHiQEm"

# switchboard oracle authority
[[test.validator.clone]]
address = "D5B1iguWRmkrjiNU6zSt1LxwDocFRyzfab38y4JXwed"

# switchboard oracle escrow
[[test.validator.clone]]
address = "7hGRQmgrsqXNQpb2ynedd8KqofgQip1LE7Mww2cmJi5e"

# switchboard oracle permissions
[[test.validator.clone]]
address = "ESFMocSxRuVR3sd724Pzcdj8XZik55fixjJoQiqTiFT9"

# switchboard additional accounts
[[test.validator.clone]]
address = "4zMMC9srt5Ri5X14GAgXhaHii3GnPAEERYPJgZJDncDU"

[scripts]
oracle = "./start-oracle.sh"
oracle_stop = "docker-compose down"
test = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 tests/**/*.ts"
